<VirtualHost *:80>
    DocumentRoot /var/www/html/wordpress/
    ServerName example.com
    ErrorLog /var/log/apache2/wordpress_error.log
    CustomLog /var/log/apache2/wordpress_access.log common
    <Directory /var/www/html/wordpress>
        Options FollowSymLinks
        Options +Indexes
        AllowOverride All
        Order allow,deny
        Allow from all
        </Directory>
</VirtualHost>


sudo ln -s /etc/apache2/sites-available/wordpress.conf /etc/apache2/sites-enabled/

sudo /etc/init.d/apache2 reload